name: iOS CI Build
on: workflow_dispatch

env:
  GODOT_VERSION: 4.5
  EXPORT_NAME: polaris-touch
  PROJECT_PATH: .

jobs:
  export-ios-unsigned:
    name: iOS Export
    runs-on: macos-15
    steps:
      - name: Setup Godot
        run: |
          brew install --cask godot-mono

          cd ~
          pwd

          mkdir -v -p "/Users/runner/Library/Application Support/Godot/export_templates"
          cd "/Users/runner/Library/Application Support/Godot/export_templates"
          wget -q https://github.com/godotengine/godot/releases/download/${GODOT_VERSION}-stable/Godot_v${GODOT_VERSION}-stable_mono_export_templates.tpz
          unzip Godot_v${GODOT_VERSION}-stable_mono_export_templates.tpz
          mv templates ${GODOT_VERSION}.stable.mono

          ls -l "/Users/runner/Library/Application Support/Godot/export_templates/${GODOT_VERSION}.stable.mono"

      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Import Assets
        run: |
          cd $PROJECT_PATH
          godot-mono --headless --verbose --editor --quit

      - name: iOS Export
        run: |
          mkdir -v -p build/ios
          EXPORT_DIR="$(readlink -f build)"
          cd $PROJECT_PATH
          godot-mono --headless --verbose --export-release "iOS" $EXPORT_DIR/ios/polaris-touch.xcodeproj

      - name: iOS Build
        run: |
          cd build/ios
          xcodebuild -project polaris-touch.xcodeproj -sdk iphoneos -configuration Release -target polaris-touch CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO
          cd build/Release-iphoneos
          mkdir -v -p ipa/Payload
          mv polaris-touch.app ipa/Payload/polaris-touch.app

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: polatouch-ipa-unsigned
          path: build/ios/build/Release-iphoneos/ipa